.app {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: 'main main main aside';
  height: 100vh;
  overflow: hidden;
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: linear-gradient(to bottom right, #EB5C7C, #C14B8C);
  transition: all .2s cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
}

.backdrop--show {
  opacity: 1;
}

.main {
  grid-area: main;
  padding: 10rem;
}

@media (max-width: 1600px) {
  .main {
    padding: 5rem;
    padding-bottom: 0;
  }
}

.aside {
  display: grid;
  grid-area: aside;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  height: calc(100vh - 8rem);
  grid-row-gap: 2rem;
  padding: 4rem;
  padding-bottom: 2rem;
}

@media (max-width: 1600px) {
  .aside {
    padding: 2rem;
    height: calc(100vh - 4rem);
  }
}

.headline {
  font-size: 8rem;
  margin: 0;
  margin-bottom: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 4rem;
  grid-row-gap: 5rem;
}

@media (max-width: 1600px) {
  .grid {
    grid-column-gap: 2rem;
    grid-row-gap: 3rem;
  }
}

.grid__card {
  background-color: #ffffff1a;
  border-radius: 2rem;
}

.grid__card--available {
  background-color: white;
}

.aside .grid__card {
  padding: 2rem 2.5rem;
  transition: all .5s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 100;
  overflow: hidden;
}

.aside .grid__card:first-child {
  transform-origin: top right;
}

.aside .grid__card:nth-child(2), .aside .grid__card:nth-child(3) {
  transform-origin: right;
}

.aside .grid__card:nth-child(4) {
  transform-origin: bottom right;
}

.grid__card--full {
  transform: scale(3.5, 3.5);
  border-radius: 0.5rem;
}

.aside .grid__card--image {
  padding: 0;
}

.aside .grid__card--hide {
  opacity: 0;
}

.aside .grid__card li {
  font-size: 2rem;
  padding: 0.6rem 0;
}

.aside .grid__card h3 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

@media (max-width: 1600px) {
  .aside .grid__card li {
    font-size: 1.8rem;
  }
}

.card__headline {
  background-color: white;
  margin: 0;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  padding: 2rem 2.5rem;
  color: #d45384;
}

.grid__card--available .card__headline {
  background-color: #1C91DD;
  color: white;
}

.player__container {
  padding: 2rem 2.5rem;
}

.player__first {
  display: grid;
  grid-template-columns: 1fr;
}

.grid__card--available .player__container {
  padding-top: 2rem;
}

.player__second {
  display: grid;
  grid-template-columns: 1fr;
  border-top: 1px solid #f4cddb;
}

.player__container span {
  padding: 0.5rem 1rem;
  font-size: 2rem;
}

.clock__container {
  position: absolute;
  top: 1rem;
  left: 0;
  right: 0;
  text-align: center;
}

.clock__container h1 {
  font-size: 5rem;
  padding: 0.5rem;
  display: inline;
}