.App {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: 'main main main aside'
                        'footer footer footer footer';
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

.main {
  grid-area: main;
  padding: 10rem;
}

.blaha {
  opacity: 1;
  /*animation: fade 5s infinite;*/
}

@keyframes fade {
  0%,100% { opacity: 1 }
  85% { opacity: 1 }
  90% { opacity: 0 }
}

.aside {
  display: grid;
  grid-area: aside;
  grid-row-gap: 2rem;
  padding: 4rem;  
}

.headline {
  font-size: 8rem;
  display: inline;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 4rem;
  grid-row-gap: 5rem;
}

.grid__card {
  background-color: #ffffff1a;
  border-radius: 2rem;
  min-height: 16rem;
}

.aside .grid__card {
  padding: 2rem 2.5rem;
}

.aside .grid__card li {
  font-size: 2rem;
  padding: 0.6rem 0;
}

.card__headline {
  background-color: #ffffffde;
  margin: 0;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  padding: 2rem 2.5rem;
  color: #d45384;
}

.card__headline--available {
  background-color: white;
  color: #1C91DD;
  font-weight: bold;
}

.player__container {
  padding: 1rem 2.5rem;
}

.player__first {
  display: grid;
  grid-template-columns: 1fr;
}

.player__second {
  display: grid;
  grid-template-columns: 1fr;
  border-top: 1px solid #f4cddb;
}

.player__container span {
  padding: 0.5rem 1rem;
  font-size: 1.8rem;
}