html { font-size: 62.5%; }

@media (max-width: 1600px) {
  html {
    font-size: 50%;
  }
}

body { 
  font-size: 1.4rem; 
  margin: 0;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to bottom right, #EB5C7C, #C14B8C);
  color: white;
}

h1 { 
  font-size: 3rem; 
}

h3 {
  font-size: 2rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

 